<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  /H/200.27.68.94/H/192.168.10.204/S/3200
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="SAP.Middleware.Connector">
            <sectionGroup name="ClientSettings">
                <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
            </sectionGroup>
        </sectionGroup>
    </configSections>

    <SAP.Middleware.Connector>
        <ClientSettings>
            <DestinationConfiguration>
                <destinations>
                    <!-- <add NAME="DDC" USER="sap_adm" PASSWD="ddc2017" CLIENT="100" LANG="EN" ASHOST="/H/200.54.27.10/S/3299/H/10.60.1.33" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"/>-->
                 <!-- <add NAME="DDC" USER="sap_adm" PASSWD="DdcAdm16*" CLIENT="300" LANG="ES" ASHOST="10.60.1.34" SYSNR="05" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"/>-->
			<add NAME="DDC" USER="soporte0" PASSWD="ddc****2017" CLIENT="300" LANG="ES" ASHOST="10.60.1.34" SYSNR="05" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"/>
                    <!--<add NAME="DDC" USER="SAP_ADM" PASSWD="DdcAdm16*" CLIENT="300" LANG="ES" ASHOST="10.60.1.31" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"/>-->

                </destinations>
            </DestinationConfiguration>
        </ClientSettings>
    </SAP.Middleware.Connector>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>
        <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />
    </system.web>

    <connectionStrings>
        <add name="CS3" connectionString="Data Source=WIN-LQCB06TFRJ5\SQLEXPRESS;Initial Catalog=DDCTEST;User Id=sa;Password=MB021Z/A" providerName="System.Data.SqlClient"/>
		<add name="CSPORTAL" connectionString="Data Source=10.20.1.71;Initial Catalog=ddc_odata;User Id=sa;Password=expled08*." providerName="System.Data.SqlClient"/>
        <!--<add name="CS" connectionString="Data Source=WIN-LQCB06TFRJ5\SQLEXPRESS;Initial Catalog=DDCTEST;User Id=sa;Password=MB021Z/A" providerName="System.Data.SqlClient"/>-->
		<!--<add name="CS2" connectionString="Data Source=192.168.250.110;Initial Catalog=productionv50;User Id=sa;Password=MB021Z/A" providerName="System.Data.SqlClient"/>
		<add name="CS" connectionString="Data Source=WIN-2M3NF62GGD2\SQL2008;Initial Catalog=DDC_CHILE;User Id=sa;Password=expled08*." providerName="System.Data.SqlClient" /> -->
		<add name="CS" connectionString="Data Source=WIN-LQCB06TFRJ5\SQLEXPRESS;Initial Catalog=DDCTEST;User Id=sa;Password=MB021Z/A" providerName="System.Data.SqlClient"/>
  
         <add name="CS2" connectionString="Data Source=149.5.0.160;Initial Catalog=productionv50;User Id=client;Password=client" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="99999999999999">
                </jsonSerialization>
            </webServices>
        </scripting>
    </system.web.extensions>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="10999" maxQueryString="2097151" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <!--
            Allow Web API to be called from a different domain.
            http://dlr2008.wordpress.com/2012/04/26/asp-net-web-api-cross-domain-ajax-and-server-techniques-jsonp-and-cors/
            -->
                 <add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
                <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE" />
            </customHeaders>
        </httpProtocol>
		<staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/apk" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/x-woff2" />
               
     </staticContent>
  
 </system.webServer>
</configuration>
