<div id="contenedor" class="contenedor center-block">
    <div class="cabecera">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:left;">
                <a href="" ng-click="backHistory()">
                    <img src="img/icon-atras.png" class="icon-cabecera" />
                </a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 text-center">
                <span style="font-size: 23px;" class="txt-cabecera">RECEPCIÓN DESCARTE /  SUBPRODUCTO</span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:right;">
                <a href="" ng-click="exit()">
                    <img src="img/icon-salir.png" class="icon-cabecera" />
                </a>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4" ng-if="!item.tabla" ng-repeat="item in formulario track by $index">
            <div ng-show="item.show" ng-if="((['checkbox'].indexOf(item.type) > -1) ? true : false)">
                <center>
                    <label for="switchCierre" class="lbl-campos">{{item.label || item.key}}</label>
                    <label class="switch" id="{{item.id}}">
                            <input type="{{item.type}}" ng-model="item.ngModel" ng-change="{{item.ngChange}}"/>
                            <span class="slider round"></span>
                        </label>
                    <br>
                    <br>
                </center>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4" ng-if="item.cabecera && !item.tabla" ng-repeat="item in formulario track by $index">
            <center ng-if="item.show">
                <span class="lbl-campos">{{item.label || item.key}}<br/></span>
                <input ng-model="item.ngModel" type="{{item.type}}" ng-change="{{item.ngChange}}" class="input_small" id="{{item.id}}" ng-disabled="item.disabled">
                <br>
                <p>{{item.mensaje}}</p>
            </center>
        </div>
    </div>
    <hr>
    <form id='recep-oc'>
        </br>
        <div class="container-tabla center-block table-responsive">
            <div class="datagrid ">
                <table>
                    <thead>
                        <tr>
                            <th>MATERIAL</th>
                            <th>POZO</th>
                            <th>KILOS</th>
                            <th>FECHA</th>
                            <th>HORA</th>
                            <!-- <th></th>
                            <th></th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-if="item.tabla" ng-repeat="item in formulario track by $index">
                                <input id="{{item.id}}" type="{{item.type}}" class="input_small-stretch {{item.class}}" style="{{item.style}}" ng-model="item.ngModel" ng-disabled="item.disabled">
                            </td>
                            <!--<td>
                                <input id="planta" ng-model="planta" type="text" id="almacen" name="almacen" class="input_small-stretch almacenes" ng-disabled="recep.disabled">
                            </td>
                            <td>
                                <input ng-model="kilos" type="number" id="kilos" name="kilos" class="input_small-stretch" ng-disabled="recep.disabled">
                            </td>
                            <td>
                                <input ng-model="fecha" type="date" id="fecha" name="fecha" class="input_small-stretch" ng-disabled="recep.disabled">
                            </td>
                            <td>
                                <input ng-model="hora" type="time" id="hora" name="hora" class="input_small-stretch" ng-disabled="recep.disabled">
                            </td>-->
                            <!-- <td>
                                <a href="#" ng-click="addRecepcion()">
                                    <img src="img/btn-mas.png">
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="removeMaterial($index)" ng-if="!recep.disabled">
                                    <img src="img/btn-borrar.png">
                                </a>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <center>
                    <button type="button" ng-click="recepcionar()" id="enviaoc" name="btnenviaoc" class="btn-medium hvr-shrink">
                        <img src="img/icon-next.png" class="icon-btn">
                        <span class="lbl-btn-stretch" style="margin-top:7px;">Recepcionar</span>
                    </button>
                </center>
            </div>
        </div>

    </form>
    </br>
    </br>
    <!--Modal-->
    <div id="myModal" role="dialog" class="modal show" ng-show="showModal">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="width:100%;">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="txt-cabecera">SAP</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <center>
                        <span class="txt-cabecera">Recepción Exitosa</span></center>
                    <div class="modal-datagrid center-block">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="text-align:left; padding-left: 26px; padding-right: 36px;">N. GUÍA</td>
                                    <td>{{ nGuia }}</td>

                                </tr>
                                <tr>
                                    <td style="text-align:left; padding-left: 26px; padding-right: 36px;">N° CONFIRMACIÓN</td>
                                    <td>{{ nDoc }}</td>
                                </tr>
                                <tr ng-repeat="val in errores track by $index">
                                    <td>{{val.titulo }}</td>
                                    <td>{{val.descripcion}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </br>
                    </br>
                    <button ng-click="cerrarModal()" type="button" id="enviaresumen" name="btnenviaresumen" class="btn-medium center-block">
                            <img src="img/icon-enviar.png" class="icon-btn">
                            <span class="lbl-btn-stretch" style="margin-top: 7px;">Cerrar</span>
                        </button>
                    </br>
                    </br>
                    </br>
                </div>

            </div>

        </div>
    </div>
</div>