<div id="contenedor" class="contenedor center-block" ng-controller="recepcionSubp">
    <div class="cabecera">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:left;">
                <a href="" ng-click="backHistory()">
                    <img src="img/icon-atras.png" class="icon-cabecera" />
                </a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 text-center">
                <span class="txt-cabecera">DESCARTE / SUBPRODUCTO</span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:right;">
                <a href="" ng-click="exit()">
                    <img src="img/icon-salir.png" class="icon-cabecera" />
                </a>
            </div>
        </div>
    </div>
    </br>
    </br>
    <div class="row center-block">
        <center>
            <div class="col-xs-12 col-sm-12 col-md-12 btn-menu hvr-shrink">
                <div class="boton" ng-click="redirectToSubproducto()">
                    <div class="lbl-boton">
                        <a href="#">SUBPRODUCTO</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 btn-menu hvr-shrink">
                <div class="boton" ng-click="redirectDescarte()">
                    <div class="lbl-boton">
                        <a href="#">DESCARTE</a>
                    </div>
                </div>
            </div>
        </center>
    </div>
    </br>
    </br>
    </br>
    </br>
</div>