<div id="contenedor" class="contenedor center-block">
    <div class="cabecera">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:left;">
                <a href="" ng-click="backHistory()">
                    <img src="img/icon-atras.png" class="icon-cabecera hvr-backward" />
                </a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 text-center">
                <span class="txt-cabecera">ANULACIÓN</span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:right;">
                <a href="" ng-click="exit()">
                    <img src="img/icon-salir.png" class="icon-cabecera hvr-forward" />
                </a>
            </div>
        </div>
    </div>
    </br>
    </br>
    <form id='anulapt' method="" action="">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 migo">
                <center>
                    <span class="lbl-campos">LOTE</span><br>
                    <input type="text" class="input_medium" id="docmat" style="margin: 0 10px !important;">
                </center>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 migo">
                <center>
                    <span class="lbl-campos">PORCIÓN</span><br>
                    <input type="number" class="input_medium" id="anomat" style="margin: 0 10px !important;">
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 migo">
                <center>
                    <span class="lbl-campos">Doc. Material</span><br>
                    <input type="text" class="input_medium" id="docmat" style="margin: 0 10px !important;">
                </center>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 migo">
                <center>
                    <span class="lbl-campos">Año</span><br>
                    <input type="number" class="input_medium" id="anomat" style="margin: 0 10px !important;">
                </center>
            </div>
        </div>
        <hr>
        <!--<div class="container-tabla center-block table-responsive">
            <div class="datagrid ">
                <table>
                    <thead>
                        <tr>
                            <th>MATERIAL</th>
                            <th>CANTIDAD</th>
                            <th>LOTE RECEPTOR</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="material" class="combo-medium-stretch">
                                    <option value="sardina">Sardina</option>
                                    <option value="anchoveta">Anchoveta</option>
                                    <option value="salmon">Salmón</option>
                                    <option value="merluza">Merluza</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" id="cantidad" name="toneladas" class="input_small-stretch">
                            </td>
                            <td>
                                <input type="number" id="loterecep" name="loterecep" class="input_small-stretch">
                            </td>
                            <td>
                                <a href="#">
                                    <img src="img/btn-mas.png">
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="img/btn-borrar.png">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>-->
        </br>
        <center>
            <button type="submit" id="nextpt" name="nextpt" class="btn-medium hvr-shrink">
                <img src="img/icon-borrar.png" class="icon-btn">
                <span class="lbl-btn-stretch" style="margin-top: 7px;">ANULAR</span>
            </button>
        </center>
    </form>
    <br><br><br><br>
</div>S