<div id="contenedor" class="contenedor center-block" ng-controller="moverhuCTR">
    <div class="cabecera">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:left;">
                <a href="#" ng-click="backHistory()">
                    <img src="img/icon-atras.png" class="icon-cabecera hvr-backward" />
                </a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 text-center">
                <span class="txt-cabecera">MOVER HU</span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:right;">
                <a href="index.html">
                    <img src="img/icon-salir.png" class="icon-cabecera hvr-forward" />
                </a>
            </div>
        </div>
    </div>
    </br>
    <form id='scanmezcla'>
        <br>
        <div class="container-tabla center-block table-responsive">
            <div class="datagrid">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                HU
                            </td>
                            <td>
                                <!--<input type="text" ng-model="HU_POSICION" class="input_medium-stretch">-->
                                <button type="button" id="btnscan" ng-click="scan()" name="btnscan" class="btn-medium-stretch hvr-shrink" style="margin-top:0px !important;">
                                    <img src="img/icon-barcode.png" class="icon-btn">
                                    <span class="lbl-btn-stretch" style="margin:7px 10px 0 0;">ESCANEAR</span>
                                </button>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="img/btn-mas.png" ng-click="Buscar_HU(HU_POSICION)">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </br>
        <hr>
        <div class="container-tabla center-block table-responsive">
            <div class="datagrid ">
                <table>
                    <thead>
                        <tr>
                            <th>HU</th>
                            <th>LOTE</th>
                            <th>PORCIÓN</th>
                            <th>EMPAQUE</th>
                            <th>MATERIAL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='item in HU_GET track by $index'>
                            <td>{{item.hu}}</td>
                            <td>{{item.lote}}</td>
                            <td>{{item.porcion}}</td>
                            <td>{{item.envase}}</td>
                            <td>{{item.material}}</td>
                            <td>
                                <a>
                                    <img src="img/btn-borrar.png" ng-click="DELETE_HU($index)" class="hvr-shrink">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 migo" ng-show="{{!item.hide}}" ng-repeat="item in Formulario track by $index">
                <div ng-show="((['text', 'number'].indexOf(item.type) > -1) ? true : false)">
                    <!--<h3 style="font-size: 12px;">{{item.label||item.key}}</h3>-->
                    <span class="lbl-campos">{{item.label||item.key}}</span><br>
                    <!--<div class="col-xs-12 col-sm-12 col-md-12">-->
                    <input type="{{item.type}}" id="{{item.id}}" ng-model="item.ngModel" max="{{item.max}}" placeholder="{{item.placeholder}}" maxlength="{{item.max}}" class="input_small" ng-blur="fn(((item.fn)?item.fn:''),item.ngModel)" ng-disabled="item.disabled">
                    <!--</div>-->
                </div>
                <div ng-show="((item.type === 'select') ? true : false)">
                    <span class="lbl-campos">{{item.label||item.key}}</span><br>
                    <!--<div class="col-xs-12 col-sm-12 col-md-12">-->
                    <select class="combo-medium" ng-model="item.ngModel" ng-options="option as option.text || option.value for option in item.options track by option.key" ng-change="fn(item.fn,item.ngModel)">
                        <option value=''>Seleccionar</option>
                    </select>
                    <!--</div>-->
                </div>
                <div ng-show="((['time', 'date'].indexOf(item.type) > -1) ? true : false)">
                    <span class="lbl-campos">{{item.label||item.key}}</span><br>
                    <!--<div class="col-xs-12 col-sm-12 col-md-12">-->
                    <input type="{{item.type}}" id="{{item.id}}" ng-model="item.ngModel" placeholder="{{item.placeholder}}" class="input_medium">
                    <!--</div>-->
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button ng-click="CONTINUAR()" type="button" class="btn-medium center-block" style="margin-bottom:10px;">
                    <img src="img/icon-next.png" class="icon-btn">
                    <span class="lbl-btn-stretch" style="margin-top: 7px;">MOVER</span>
                </button>
            </div>
        </div>
    </form>
</div>