<div id="stack1" class="modal fade in" tabindex="-1" ng-show="oloading.show" data-width="400" style="display: block; padding-right: 15px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="fondo">
                <div class="conten-loading">
                    <img class="icon-loading" src="img/loader.gif" alt=""/>
                </div>
            </div>
            <style>
                .conten-loading {
                    text-align: center;
                    margin-top: 31%;
                }
                .icon-loading{
                    width: 69px;
                }
            </style>
        </div>
    </div>
</div>