<div id="contenedor" class="contenedor center-block" ng-controller="resumenMP">
    <div class="cabecera">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:left;">
                <a href="" ng-click="backHistory()">
                    <img src="img/icon-atras.png" class="icon-cabecera" />
                </a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 text-center">
                <span class="txt-cabecera">RESUMEN</span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:right;">
                <a href="" ng-click="exit()">
                    <img src="img/icon-salir.png" class="icon-cabecera" />
                </a>
            </div>
        </div>
    </div>
    <div>
        <h1><img src="img/icon-clipboard.png" class="icon-btn">Detalle Ingreso</h1>
    </div>
    </br>
    <div class="datagrid center-block hidden-xs hidden-sm">
        <table>
            <thead>
                <tr>
                    <th>O.C</th>
                    <th>PROVEEDOR</th>
                    <th>EMBARCACIÓN</th>
                    <th>PROCEDENCIA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>234567</td>
                    <td>{{ proveedor }}</td>
                    <td>{{ embarcacion }}</td>
                    <td>{{ procedencia }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="datagrid center-block hidden-xs hidden-sm">
        <table>
            <thead>
                <tr>
                    <th>LOTE</th>
                    <th>MATERIAL</th>
                    <th>KILOS</th>
                    <th>FECHA RECEPCIÓN</th>
                    <th>FECHA ENTREGA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ lote }}</td>
                    <td>{{ matSel }}</td>
                    <td>{{ kilosSel }}</td>
                    <td>{{ fechaRecepcion | date:'yyyy-MM-dd'}}</td>
                    <td> {{ fechaEntrega | date:'yyyy-MM-dd' }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Aqui parte la tabla para moviles -->
    <div class="datagrid center-block visible-xs visible-sm">
        <table>
            <thead>
                <tr>
                    <th>O.C</th>
                    <th>PROVEEDOR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>234567</td>
                    <td>JUAN ORDENES SOTO</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="datagrid center-block visible-xs visible-sm">
        <table>
            <thead>
                <tr>
                    <th>EMBARCACIÓN</th>
                    <th>PROCEDENCIA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BARQUITO</td>
                    <td>SAN VICENTE</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="datagrid center-block visible-xs visible-sm">
        <table>
            <thead>
                <tr>
                    <th>LOTE</th>
                    <th>MATERIAL</th>
                    <th>KILOS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ lote }}</td>
                    <td>{{ matSel }}</td>
                    <td>{{ kilosSel }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="datagrid center-block visible-xs visible-sm">
        <table>
            <thead>
                <tr>
                    <th>FECHA RECEPCIÓN</th>
                    <th>FECHA ENTREGA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ fechaRecepcion | date:'yyyy-MM-dd'}}</td>
                    <td> {{ fechaEntrega | date:'yyyy-MM-dd' }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    </br>
    </br>
    <div>
        <h1><img src="img/icon-clipboard.png" class="icon-btn">Detalle Material</h1>
    </div>
    </br>
    <div class="datagrid center-block">
        <table>
            <thead>
                <tr>
                    <th>MATERIAL</th>
                    <th>PORCENTAJE</th>
                    <th>KILOS</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="material in materiales track by $index">
                    <td>{{ material.material.material }}</td>
                    <td>{{ material.porcentaje }}</td>
                    <td>{{ material.kilosedit }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </br>
    </br>
    </br>
    <center>
        <button ng-click="enviar()" id="enviaresumen" name="btnenviaresumen" class="hvr-shrink btn-small">
            <img src="img/icon-enviar.png" class="icon-btn">
            <span class="lbl-btn-stretch" style="margin-top: 7px;">ENVIAR</span>
        </button>
    </center>
    </br>
    </br>
    </br>
    <div style="margin-top: -60%;display:none;" id="popup" class="modal-container center-block modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="txt-cabecera">SAP</span>
                </div>
            </div>
        </div>
        </br>
        <div class="modal-datagrid center-block">
            <table>
                <tbody>
                    <tr ng-if="respOC!=''">
                        <td style="text-align:left; padding-left: 26px; padding-right: 36px;">NÚMERO DE PEDIDO</td>
                        <td>{{ respOC }}</td>
                    </tr>
                    <tr ng-if="respCP!=undefined">
                        <td style="text-align:left; padding-left: 26px; padding-right: 36px;">RECEPCIÓN CONTRA PEDIDO</td>
                        <td>{{ respCP }}</td>
                    </tr>
                    <tr ng-repeat="val in errores track by $index">
                        <td>{{val.titulo }}</td>
                        <td>{{val.descripcion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </br>
        </br>
        <button ng-click="redirctToMenu()" type="submit" id="enviaresumen" name="btnenviaresumen" class="btn-medium center-block">
            <img src="img/icon-enviar.png" class="icon-btn">
            <span class="lbl-btn-stretch" style="margin-top: 7px;">Cerrar</span>
        </button>
        </br>
        </br>
        </br>
    </div>
</div>